body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc; /* Cor de fundo cinza */
}

.container {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid;
  border-radius: 10px;
}

.login-box {
  background: white;
  padding: 2.5rem; /* Aumentando o padding para tornar a tela maior */
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra mais forte */
  text-align: center;
  width: 350px; /* Aumentando a largura da tela de login */
}

h2 {
  margin-bottom: 1.5rem; /* Aumentando a margem inferior do título */
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1.5rem;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #758918;
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #758918;
}